# Build
bin/
obj/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Visual Studio
.vs/

# Logs
*.log

# Node
node_modules/

# React
frontend/node_modules/
frontend/dist/

# Environment
.env
.env.*

# SQL Server
*.mdf
*.ldf

# OS
Thumbs.db
Desktop.ini

# Git
.git