.icon {
  display: inline-block;

  flex-shrink: 0;

  width: 20px;
  height: 20px;

  background-image: var(--icon-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Dark Mode */
:global([data-theme='dark']) .icon {
  filter: invert(1);
}